*{
    margin: 0;
    padding: 0;
}

.text-dark {
    color: #343a40!important;
}

.shop-bg-image {
    height:100vh;
    background: url('./images/product-image.jpg');
    background-size:cover;
    position:relative;
}

.my-name {
    font-size:4em;
}
.my_desc {
    font-size: 20px;
    margin-bottom: 50px;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-btn-pink {
    background-color: #FA267B;
    color: white;
    padding: 10px 20px;
    letter-spacing: 3px;
}

.second-nav{
    margin: 60px 0 0;
}

.second-nav .nav-link {
    text-transform: uppercase;
    color: #000 !important;
    font-size: 12px;
    letter-spacing: 2px;
}

.second-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.second-nav li {
    margin-right: 10px; 
}

.second-nav a {
    text-decoration: none;
    color: black;
}

.shop-section{
    padding: 30px 0;
}

.cart-icon {
   margin-top: 3px;
}

.color-white{
    color: #fff;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

.heart-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: blue;
    cursor: pointer;
}

.off {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: red;
}

.sub{
    color: #fff;
    padding: 30px 0;
    margin: 0;
}

.bg{
    background-color: #15120D;
    color: #fff;
}

hr{
    margin: 0;
}

.my-hr {
    border-top: 1px solid #fff;
}

.text-input-container {
    display: flex;
    align-items: center;
}

.text-input-container input,
.text-input-container button {
    margin: 0; 
}

.text-input-container input{
    padding: 10px;
    border: none;
}
.text-input-container button{
    padding: 15px 30px;
    background-color: #343a40;
    border: none;
    cursor: pointer;
}


@media (max-width: 500px) {
    .second-nav .nav-link {
        font-size: 8px;
    }
}